---
import BaseLayout from "@layouts/BaseLayout.astro";

const title =
  "Gregorian Calendar Date to Saka Calendar Date Converter | KeralaServiceRules.com";
const description =
  "Gregorian Calendar Date to Saka Calendar Date Converter | KeralaServiceRules.com";
---

<BaseLayout {title} {description}>
  <main class="wrapper my-8">
    <div class="mx-auto grid max-w-[800px] gap-8 md:grid-cols-2">
      <section>
        <h1 class="text-3xl leading-tight font-bold md:text-4xl">
          Convert Any Date into Saka Calendar Date
        </h1>
        <span class="mt-4 block text-lg">
          Convert any date into the corresponding Saka Calendar date. Useful for
          Government gazette and Court orders/judgements.
        </span>
      </section>

      <div class="flex flex-col">
        <label
          class="font-alegreya-sans mb-1 text-xl italic"
          for="gregorian-date">Pick a date</label
        >
        <input
          type="date"
          name="gregorian-date"
          id="gregorian-date"
          class="mb-6 w-full p-2.5 font-sans"
        />

        <button
          type="submit"
          id="btn-convert"
          class="bg-brand hover:bg-brand/95 focus:bg-brand/95 w-full rounded p-3 text-sm font-bold tracking-wide text-white uppercase"
          >Convert</button
        >

        <div
          id="result"
          class="mt-8 mb-6 font-sans text-2xl font-bold lg:mt-10 lg:text-3xl"
        >
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<script>
  import { convertToSaka } from "@utils/saka-date";

  const today = new Date();
  const day = String(today.getDate()).padStart(2, "0");
  const month = String(today.getMonth() + 1).padStart(2, "0"); // Months are 0-indexed, so we add 1
  const year = today.getFullYear();
  const formattedValue = `${year}-${month}-${day}`;

  const dateInput = document.getElementById(
    "gregorian-date",
  ) as HTMLInputElement;
  dateInput.value = formattedValue;

  const btn = document.getElementById("btn-convert");
  btn?.addEventListener("click", () => {
    convertToSaka();
  });
</script>
